<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />

	<context:component-scan base-package="br.jus.tse" />

	<!-- projeto de testes disponivel no dropbox -->
	
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="dexter.tse.jus.br" />
		<property name="port" value="25" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
	
	<bean id="freeMarkerConfigurationFactory" class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
		<property name="templateLoaderPath" value="/"/>
		<property name="defaultEncoding" value="UTF-8"/>
	</bean>
	
	<bean id="procbatchDisparadorEmailConsultaExecutor" class="br.jus.tse.apibase.aplicacao.batch.mail.executor.impl.ProcbatchDisparadorEmailConsultaExecutor">
		<property name="enderecoSistemaDesenvolvimento" value="" />
		<property name="enderecoSistemaHomologacao" value="parara" />
		<property name="enderecoSistemaProducao" value="perere" />
		<property name="template" value="template-outlook2007.ftl" />
		<property name="nomeRementente" value="Secad - Procbatch" />
		<property name="emailRementente" value="secad@tse.jus.br" />
		<property name="maximoRegistrosPorConsulta" value="500" />
	</bean>
	
	<bean id="abstractProcbatchDisparadorEmailConsultaTasklet" class="br.jus.tse.apibase.aplicacao.batch.mail.tasklet.impl.AbstractProcbatchDisparadorEmailConsultaTasklet" abstract="true">
		<property name="disparadorEmailExecutor" ref="procbatchDisparadorEmailConsultaExecutor" />
	</bean>
	
	<!-- 
		Ainda:
			* guardar informacoes de envio no banco de dados
			* permitir enviar resultado semanalmente
	-->
	<bean id="procbatchDisparadorEmailConsultaTasklet" class="br.jus.tse.apibase.aplicacao.batch.mail.tasklet.impl.ProcbatchDisparadorEmailConsultaTasklet" parent="abstractProcbatchDisparadorEmailConsultaTasklet">
		<property name="assunto" value="Assunto Teste" />
		<property name="titulo" value="Título Teste" />
		<property name="resumo" value="Resumo Teste" />
		<property name="destinatariosPreProducao">
			<list>
				<value>joao.esteves@tse.jus.br</value>
				<value>andre.nascimento@tse.jus.br</value>
			</list>
		</property>
		<property name="destinatariosProducao">
			<list>
				<value>secad@tse.jus.br</value>
			</list>
		</property>
		<property name="consultas">
			<list>
				<bean class="br.jus.tse.apibase.aplicacao.batch.mail.conteudo.tabela.ConsultaEmail">
					<property name="titulo" value="Título Teste Tabela" />
					<property name="descricao" value="Descrição Teste Tabela" />
					<property name="indiceLinhas" value="false" />
					<property name="querySql" value="SELECT * FROM OVO WHERE CASCA = 1" />
					<property name="queryCountSql" value="SELECT COUNT(*) FROM OVO WHERE CASCA = 1" />
					<property name="colunasMap">
						<bean class="org.springframework.beans.factory.config.MapFactoryBean">
							<property name="sourceMap">
								<map>
									<entry key="COD_OBJETO" value="Código" />
									<entry key="DES_SITUACAO_ELEITOR" value="Situação do Eleitor" />
								</map>
							</property>
						</bean>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
	<!-- provavel configuracao para o gmail -->
	<!-- TODO: testar configuracao para envio com Gmail -->
	<!--
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="username" value="" />
        <property name="password" value="" />
		<property name="host" value="smtp.gmail.com" />
        <property name="port" value="25" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.debug">true</prop>
            </props>
        </property>
	</bean>
	-->
	
</beans>