<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />

	<context:component-scan base-package="br.jus.tse.testespring" />

	<!-- projeto de testes disponivel no dropbox -->
	
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="dexter.tse.jus.br" />
		<property name="port" value="25" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
	
	<bean id="procbatchMailSender" class="">
		<property name="assunto" value="" />
		<property name="resumo" value="" />
		<property name="destinatarios">
			<list>
				<value></value>
			</list>
		</property>
		<property name="tabelas">
			<list>
				<bean class="">
					<property name="titulo" value="" />
					<property name="descricao" value="" />
					<property name="indicelinhas" value="false" />
					<property name="query" value="" />
					<property name="colunasMap">
						<bean class="org.springframework.beans.factory.config.MapFactoryBean">
							<property name="sourceMap">
								<map>
									<entry key="COD_OBJETO" value="Codigo" />
									<entry key="DES_SITUACAO_ELEITOR" value="Situação do Eleitor" />
								</map>
							</property>
						</bean>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
	<!-- provavel configuracao para o gmail -->
	<!-- TODO: testar configuracao para envio com Gmail -->
	<!--
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="username" value="" />
        <property name="password" value="" />
		<property name="host" value="smtp.gmail.com" />
        <property name="port" value="25" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.debug">true</prop>
            </props>
        </property>
	</bean>
	-->
	
</beans>